/* --------------- Created By InCoder --------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(243, 244, 246);
}

.inCalculatorBox{
    min-width: 12rem;
    width: 17.8rem;
    border-radius: 20px;
    background: #fff;
    transition: box-shadow .2s;
}

.inCalculatorBox:hover{
    box-shadow: 0px 6px 10px rgb(209, 213, 219);
}

.resultBox input{
    border: 0;
    width: 84%;
    padding: 5px;
    padding-right: .6rem;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    text-align: right;
    margin-left: 1rem;
    margin-bottom: 8px;
    margin-right: 1rem;
    border-radius: 5px;
    letter-spacing: 1.5px;
    background-color: rgb(209, 213, 219, 20%);
}

.resultInput input{
    background-color: transparent!important;
}

.searchInput input::-webkit-input-placeholder{
    font-size: 14px;
}

.buttonsBox{
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    border-radius: 30px 30px 20px 20px;
    background: rgb(229, 231, 235);
}

.buttonsBox button{
    width: 3.5rem;
    margin: 4px 4px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    padding: .8rem;
    text-align: right;
    border-radius: 8px;
    background: rgb(229, 231, 235);
}

.buttonsBox button:hover{
    box-shadow: 0px 0px 2px rgb(209, 213, 219, 100%);
}

.calculate{
    text-align: center!important;
    width: 100%!important;
    color: rgb(225, 29, 72);
}

.buttonsBox .operator{
    font-weight: 700;
    margin-right: 0px;
    color: rgb(225, 29, 72);
}